.section-list-container{
    display: flex;
}

.section-container {
  box-sizing: border-box;
  max-width: 400px;
  min-width: 250px;
}
.section-title {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.section-title:hover{
    color: cadetblue;
    font-weight: bolder;
}

.section-detail {
  flex-basis: 75%;
  
}
