.product-list-container{
    width: 100%;
   
    display: block;
}
.left-nav{
  flex-basis: 10%;
}
.product-list{
    padding: 10px;
    border: 2px solid black;  
    margin: 10px;
}
.select-product{
  margin: 10px;
}
