table,
td,
th {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  text-align: center;
}

tr:visited {
  color: yellow;
}

tr:active,
tr:hover {
  color: green;
  cursor: pointer;
  font-weight: bold;
}
