<div class="container">
    <table class="table">
      <thead>
        <th>Strategy Manager</th>
        <th>Strategy Name</th>
        <th>Review Type</th>
        <th>Request Sent on</th>
        <th>Request Received On</th>
        <th>Final Status</th>
        <th>Received per SLA?</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let strategy of strategies">
          <td (click)="onStrategySelected(strategy)">
            {{ strategy.strategyManager }}
          </td>
          <td>{{ strategy.strategyName }}</td>
          <td>{{ strategy.reviewType }}</td>
          <td>{{ strategy.requestSendOn }}</td>
          <td>{{ strategy.requestReceivedOn }}</td>
          <td>{{ strategy.finalStatus }}</td>
          <td>{{ strategy.receivedPerSLA }}</td>
          <td>{{ strategy.action }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
